<?xml version="1.0" encoding="UTF-8"?>
<web-app id="ibs" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	IBS</display-name>
	<resource-ref>
    <res-ref-name>jdbc/MyDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  	</resource-ref>
	
	<servlet>
		<description>
		</description>
		<display-name>
		Common</display-name>
		<servlet-name>Common</servlet-name>
		<servlet-class>
		Common</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DBConnect</display-name>
		<servlet-name>DBConnect</servlet-name>
		<servlet-class>
		DBConnect</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetFavouriteList</display-name>
		<servlet-name>GetFavouriteList</servlet-name>
		<servlet-class>
		GetFavouriteList</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>
		PersonalLoginValidation</display-name>
		<servlet-name>PersonalLoginValidation</servlet-name>
		<servlet-class>
		PersonalLoginValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>
		Home</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		MyProfile</display-name>
		<servlet-name>MyProfile</servlet-name>
		<servlet-class>
		MyProfile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SaveProfile</display-name>
		<servlet-name>SaveProfile</servlet-name>
		<servlet-class>
		SaveProfile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ManageFavorite</display-name>
		<servlet-name>ManageFavorite</servlet-name>
		<servlet-class>
		ManageFavorite</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>
		ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AccountSummary</display-name>
		<servlet-name>AccountSummary</servlet-name>
		<servlet-class>
		AccountSummary</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SendAccount</display-name>
		<servlet-name>SendAccount</servlet-name>
		<servlet-class>
		SendAccount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GenerateStatement</display-name>
		<servlet-name>GenerateStatement</servlet-name>
		<servlet-class>
		GenerateStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControlManager</display-name>
		<servlet-name>ControlManager</servlet-name>
		<servlet-class>
		ControlManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Test</display-name>
		<servlet-name>Test</servlet-name>
		<servlet-class>
		Test</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GeneratePDF</display-name>
		<servlet-name>GeneratePDF</servlet-name>
		<servlet-class>
		GeneratePDF</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ChangeLimit</display-name>
		<servlet-name>ChangeLimit</servlet-name>
		<servlet-class>
		ChangeLimit</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DraftStatus</display-name>
		<servlet-name>DraftStatus</servlet-name>
		<servlet-class>
		DraftStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DraftHistory</display-name>
		<servlet-name>DraftHistory</servlet-name>
		<servlet-class>
		DraftHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Payment</display-name>
		<servlet-name>Payment</servlet-name>
		<servlet-class>
		Payment</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DraftIssue</display-name>
		<servlet-name>DraftIssue</servlet-name>
		<servlet-class>
		DraftIssue</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TransactionHistory</display-name>
		<servlet-name>TransactionHistory</servlet-name>
		<servlet-class>
		TransactionHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		A2A</display-name>
		<servlet-name>A2A</servlet-name>
		<servlet-class>
		A2A</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		InterBanking</display-name>
		<servlet-name>InterBanking</servlet-name>
		<servlet-class>
		InterBanking</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		StandingInstruction</display-name>
		<servlet-name>StandingInstruction</servlet-name>
		<servlet-class>
		StandingInstruction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddBiller</display-name>
		<servlet-name>AddBiller</servlet-name>
		<servlet-class>
		AddBiller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DeleteBiller</display-name>
		<servlet-name>DeleteBiller</servlet-name>
		<servlet-class>
		DeleteBiller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SendBiller</display-name>
		<servlet-name>SendBiller</servlet-name>
		<servlet-class>
		SendBiller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ChequeBookIssue</display-name>
		<servlet-name>ChequeBookIssue</servlet-name>
		<servlet-class>
		ChequeBookIssue</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>
		Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PresentmentBills</display-name>
		<servlet-name>PresentmentBills</servlet-name>
		<servlet-class>
		PresentmentBills</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BillerHistory</display-name>
		<servlet-name>BillerHistory</servlet-name>
		<servlet-class>
		BillerHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PresentmentPay</display-name>
		<servlet-name>PresentmentPay</servlet-name>
		<servlet-class>
		PresentmentPay</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PaymentBill</display-name>
		<servlet-name>PaymentBill</servlet-name>
		<servlet-class>
		PaymentBill</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PrintBill</display-name>
		<servlet-name>PrintBill</servlet-name>
		<servlet-class>
		PrintBill</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		LOG</display-name>
		<servlet-name>LOG</servlet-name>
		<servlet-class>
		LOG</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Common</servlet-name>
		<url-pattern>/Common</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DBConnect</servlet-name>
		<url-pattern>/DBConnect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PersonalLoginValidation</servlet-name>
		<url-pattern>/PersonalLoginValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetFavouriteList</servlet-name>
		<url-pattern>/GetFavouriteList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyProfile</servlet-name>
		<url-pattern>/MyProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveProfile</servlet-name>
		<url-pattern>/SaveProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageFavorite</servlet-name>
		<url-pattern>/ManageFavorite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountSummary</servlet-name>
		<url-pattern>/AccountSummary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendAccount</servlet-name>
		<url-pattern>/SendAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenerateStatement</servlet-name>
		<url-pattern>/GenerateStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlManager</servlet-name>
		<url-pattern>/ControlManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GeneratePDF</servlet-name>
		<url-pattern>/GeneratePDF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeLimit</servlet-name>
		<url-pattern>/ChangeLimit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DraftStatus</servlet-name>
		<url-pattern>/DraftStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DraftHistory</servlet-name>
		<url-pattern>/DraftHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Payment</servlet-name>
		<url-pattern>/Payment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DraftIssue</servlet-name>
		<url-pattern>/DraftIssue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransactionHistory</servlet-name>
		<url-pattern>/TransactionHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>A2A</servlet-name>
		<url-pattern>/A2A</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InterBanking</servlet-name>
		<url-pattern>/InterBanking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StandingInstruction</servlet-name>
		<url-pattern>/StandingInstruction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBiller</servlet-name>
		<url-pattern>/AddBiller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteBiller</servlet-name>
		<url-pattern>/DeleteBiller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendBiller</servlet-name>
		<url-pattern>/SendBiller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChequeBookIssue</servlet-name>
		<url-pattern>/ChequeBookIssue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PresentmentBills</servlet-name>
		<url-pattern>/PresentmentBills</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BillerHistory</servlet-name>
		<url-pattern>/BillerHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PresentmentPay</servlet-name>
		<url-pattern>/PresentmentPay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentBill</servlet-name>
		<url-pattern>/PaymentBill</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintBill</servlet-name>
		<url-pattern>/PrintBill</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LOG</servlet-name>
		<url-pattern>/LOG</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
